/*
===== CONTENT STYLES =====
 */

title, h1, h2, h3 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

h1 {
    font-size: 4em;
    line-height: 1.25em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

h2 {
    font-size: 3em;
    line-height: 1.24em;
    margin: 0.5em auto 0.5em auto;
}

p {
    font-family: Raleway, san-serif;
    font-weight: normal;
}

/*
===== BUTTONS AND LINKS =====
*/

.button-link {
    display: block;
    padding: 0% 2%;
    max-width: 30%;
    background: rgba(67, 67, 67, 0.2);
    color: rgb(70, 70, 70);
    line-height: 50px;
    width: 20%;
}

.button-link a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.button-link a:active {
    color: rgb(100, 100, 100);
}

.button-link a:hover {
    background: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    transition: .2s color;
}

/*
===== LOGO STYLES =====
*/
.logo {
    display: block;
    margin: 0 auto;
    width: 150px;
}
.logo img {
    width: 150px;
}

.logo-name {
    font-size: 3em;
    text-align: center;
}

/*
==== MAIN NAVIGATION STYLES DESKTOP
 */

.main-navigation {
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgba(67, 67, 67, 0.2);
    height: 50px;
}

.main-navigation ul {

}

.main-navigation ul li {
    list-style-type: none;
    width: 15%; /*width: 150px;*/
    float: left;
    text-align: center;
    text-transform: uppercase;
}

/*.main-navigation ul li { !* Mia Seppi Portion *!*/
/*    text-align: center;*/
/*    line-height: 50px;*/
/*    text-transform: capitalize;*/
/*    font-weight: bold;*/
/*}*/

.main-navigation li a {
    color: white;
    line-height: 50px;
    display: block;
    text-decoration: none;
}

/*
===== MAIN NAVIGATION STYLES MOBILE =====
*/
/*.main-navigation ul {*/
/*    padding-left: 40%;*/
/*}*/
/*.main-navigation  li {*/
/*    list-style: none;*/
/*    text-align: center;*/
/*    margin: 1% 0;*/
/*}*/

/*.main-navigation a {*/
/*    display: block;*/
/*    padding: 2% 1%;*/
/*    max-width: 30%;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*    background: rgba(67, 67, 67, 0.2);*/
/*    color: rgb(70, 70, 70);*/
/*}*/

.main-navigation a:active {
    color: rgb(100, 100, 100);
}

.main-navigation a:hover {
    background: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    transition: .2s color;
}